body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    margin-top: 10px;
    height: 350px;
    width: 350px;
}
.image-container img {
    max-width: 100%;
    height: auto;
}